

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #404040;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    text-transform: capitalize;
}
























/* nav img:not(.logo) { */
/* width: 100%; */
/* } */
/*  */
/* NAVIGATION */
/* #navigation { */
/* background: transparent; */
/* padding: 1rem 1.5rem; */
/* border: 1px solid red; */
/* } */
/*  */
/* .fixed-nav { */
/* position: fixed; */
/* top: 0; */
/* left: 0; */
/* width: 100%; */
/* background: #333; */
/* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); */
/* z-index: 1; */
/* } */
/*  */
/* .fixed-nav.links a { */
/* color: #004; */
/* } */
/*  */
/* .nav-header { */
/* display: flex; */
/* align-items: center; */
/* justify-content: space-between; */
/* } */
/*  */
/* .nav-toggle { */
/* font-size: 1.5rem; */
/* color: #004; */
/* background: transparent; */
/* border-color: transparent; */
/* transition: all 3s linear; */
/* cursor: pointer; */
/* } */
/*  */
/* .nav-toggle:hover { */
/* opacity: .8; */
/* } */
/*  */
/* .logo { */
/* height: 40px; */
/* } */
/*  */
/* .links-container { */
/* height: 0; */
/* overflow: hidden; */
/* transition: all 3s linear; */
/* } */
/*  */
/* .show-links { */
/* height: 150px; */
/* } */
/*  */
/* .links a { */
/* background-color: transparent; */
/* color: #004; */
/* font-size: 1.1rem; */
/* letter-spacing: .1rem; */
/* transition: all 0.3s linear; */
/* font-weight: 700; */
/* padding: 0.75rem 0; */
/* } */
/*  */
/* .links a:hover { */
/* opacity: .8; */
/* } */
/*  */
/* @media screen and (min-width:800px) { */
/* nav { */
/* background: transparent; */
/* } */
/*  */
/* .nav { */
/* width: 90vw; */
/* max-width: 1170px; */
/* margin: 0 auto; */
/* display: flex; */
/* align-items: center; */
/* justify-content: space-between; */
/* } */
/*  */
/* .nav-toggle { */
/* display: none; */
/* } */
/*  */
/* .links-container { */
/* height: auto !important; */
/* } */
/*  */
/* .links a { */
/* background: transparent; */
/* color: #004; */
/* font-size: 1.1rem; */
/* letter-spacing: .1rem; */
/* display: block; */
/* transition: all 3s linear; */
/* margin: 0 1rem; */
/* padding: 0; */
/* } */


.box {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: animate 20s linear infinite;
}

@keyframes animate {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }

    100% {
        transform: perspective(1000px) rotateY(360deg)
    }
}

.box span {
    -webkit-box-reflect: below 0px linear-gradient (transparent, transparent, #004);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(400px);
}

.box span img {
    border: 1px double #f1f1f1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.audio {
    position: absolute;
    bottom: 0%;
    left: 45%;
    height: 30px;
    width: 30px;
    text-transform: uppercase;
    color: #004;

}

.audio #icon {
    width: 100%;
    height: 100%;
}

#icon:hover {
    cursor: pointer;
}
.playMe{
    position: absolute;
    bottom: 4%;
    left: 48%;
    width: 10%;
    height: 20px;
}
 #text{
    text-transform: uppercase;
    color: #004;
    font-size: 1.1rem;
    /* left: 90%; */

}


/* } */
#navigation {
    box-shadow: 0 5px 5px rgba(13, 13, 65, 0.2);
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
}

.nav-header .logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* padding: 1rem 1.5rem; */
    /* margin: 0.3rem 0.5rem; */
}

.logo img {
    width: 100%;
    height: 100%;
}

.nav-toggle {
    display: none;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.links-container {
    height: auto !important;
}

.links {
    display: flex;
}

.links a {
    background: transparent;
    color: rgb(64, 64, 187);
    font-size: 1.1rem;
    letter-spacing: .1rem;
    display: block;
    transition: all 3s linear;
    margin: 0 1rem;
    padding: 0;
}

.links a:hover {
    opacity: 0.8;
    transform: scale(1.5);
    color: rgb(202, 202, 218);
}

@media screen and (max-width:501px) {
    .playMe{
        position: absolute;
        bottom: 2%;
        left: 55%;
        width: 20%;
        height: 20px;
    }
     #text{
        text-transform: uppercase;
        color: #004;
        font-size: 0.75rem;
        /* left: 90%; */
        width: 100%;
    
}
@media only screen and (min-width:501px) and (max-width:768px){
    .playMe {
        position: absolute;
        bottom: 2%;
        left: 80%;
        width: 20%;
        height: 20px;
    }
     #text{
        text-transform: uppercase;
        color: #004;
        font-size: 0.75rem;
        /* left: 90%; */
        width: 100%;
     }   
}